.login-container {
    display: grid;
    place-items: center;
    height: 100vh;
    padding: 1rem;
    background: linear-gradient(135deg, #6a82fb 0%, #fc5c7d 100%);
  }
  
  .login-card {
    background-color: #fff;
    padding: 2rem;
    border-radius: 15px;
    box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
  }
  
  .login-title {
    text-align: center;
    margin-bottom: 1.5rem;
    color: #333;
    font-size: clamp(1.5rem, 2.5vw, 1.8rem);
  }
  
  .login-form {
    display: flex;
    flex-direction: column;
  }
  
  .input-group {
    margin-bottom: 1.5rem;
  }
  
  .input-group label {
    display: block;
    font-size: 0.9rem;
    margin-bottom: 0.5rem;
    color: #666;
  }
  
  .input-group input {
    width: 94%; /* Ajuste dinámico */
    padding: 0.75rem;
    font-size: 1rem;
    border: 1px solid #7c7777;
    border-radius: 8px;
    background-color: #fafafa;
    outline: none;
    transition: border-color 0.3s ease;
  }
  
  .input-group input:focus {
    border-color: #6a82fb;
  }
  
  .login-button {
    padding: 0.75rem;
    font-size: clamp(0.9rem, 2vw, 1rem);
    background-color: #6a82fb;
    color: #fff;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 100%;
  }
  
  .back-button {
    margin-top: 10px;
    padding: 0.75rem;
    font-size: clamp(0.9rem, 2vw, 1rem);
    background-color: #d76af8;
    color: #fff;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 100%;
  }
  
  .login-button:hover {
    background-color: #0d2b57;
  }
  
  .back-button:hover {
    background-color: #a244c4;
  }
  
  /* Responsividad */
  @media (max-width: 768px) {
    .login-card {
      padding: 1.5rem;
    }
  
    .input-group input {
      padding: 0.7rem;
    }
  
    .login-button,
    .back-button {
      padding: 0.7rem;
    }
  }
  
  @media (max-width: 480px) {
    .login-card {
      padding: 1rem;
    }
  
    .input-group input {
      padding: 0.5rem;
    }
  
    .login-button,
    .back-button {
      padding: 0.6rem;
    }
  }
  